// color
$gray: #A8A8A8;
$white: #F3F3F3;
$bg: #272727;
$number: #C4C4C4;
$dark: #545454;

// font
$manrope: 'Manrope' sans-serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// breakpoint
$breakpoints: (
    "xs": 450px,
    "sm": 600px,
    "md": 769px,
    "lg": 900px,
    "xl": 1024px
);