@import '@/Styles/_variables.scss';
.projects--text {
    display: flex;
    align-items: center;
    height: 1024px;
    position: relative;
    h1 {
        font-family: $manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 29.5rem;
        line-height: 652px;
        text-align: center;
        color: $white;
         position: absolute;

        span {
            position: absolute;
            z-index: 3;
    }
    }
    .projects--image {
        position: absolute;
        top: 13rem;
        right: 25rem;
        z-index: 1;
    }
}